<aplz-ui-logo size="lg"></aplz-ui-logo>

<form [formGroup]="form" (ngSubmit)="register()">
  <div>
    <div class="text-center">
      <h2 class="text-2xl font-bold m-4">Información personal</h2>
      <p class="text-lg font-thin text-dark-secondary">
        Ayúdanos a completar tu información personal para verificar tu cuenta
      </p>
    </div>
  </div>

  <!-- if form is invalid show error -->
  <div class="text-sm text-alert-warning-icon" *ngIf="form.invalid">
    <p>{{errorMessage}}</p>
  </div>

  <div class="grid gap-6 mb-6 md:grid-cols-2">
    <div>
      <label for="firstname" class="block mb-2 text-sm font-medium text-dark">
        Nombre(s)
      </label>
      <input
        type="text"
        id="firstname"
        class="bg-dark-background border border-dark-secondary text-dark rounded-lg focus:ring-special-info focus:border-special-info block w-full p-2.5"
        placeholder="Nombre(s)"
        formControlName="firstName"
      />
    </div>

    <div>
      <label for="lastname" class="block mb-2 text-sm font-medium text-dark">
        Apellido paterno
      </label>

      <input
        type="text"
        id="lastname"
        class="bg-dark-background border border-dark-secondary text-dark rounded-lg focus:ring-special-info focus:border-special-info block w-full p-2.5"
        placeholder="Apellido paterno"
        formControlName="lastName"
      />
    </div>

    <div>
      <label for="lastname" class="block mb-2 text-sm font-medium text-dark">
        Apellido materno
      </label>

      <input
        type="text"
        id="secondLastName"
        class="bg-dark-background border border-dark-secondary text-dark rounded-lg focus:ring-special-info focus:border-special-info block w-full p-2.5"
        placeholder="Apellido materno"
        formControlName="secondLastName"
      />
    </div>

    <div>
      <label for="dateOfBirth" class="block mb-2 text-sm font-medium text-dark">
        Fecha de nacimiento
      </label>

      <input
        type="date"
        id="dateOfBirth"
        class="bg-dark-background border border-dark-secondary text-dark rounded-lg focus:ring-special-info focus:border-special-info block w-full p-2.5"
        placeholder="Fecha de nacimiento"
        formControlName="dateOfBirth"
      />
    </div>

    <div>
      <label for="sex" class="block mb-2 text-sm font-medium text-dark">
        Sexo
      </label>

      <select id="sex">
        <option>M</option>
        <option>F</option>
      </select>
    </div>
  </div>
  <button
    aplzButton
    aplzAppearance="stroked"
    aplzColor="dark"
    size="md"
    type="submit"
  >
    Crear cuenta
  </button>
</form>
